RPC_URL=https://your-rpc-url
PRIVATE_KEY=0xyourprivatekey
RWA_TOKEN_ADDRESS=0xyour_rwa_token_address
WHITELIST_ADDRESS=0xyour_whitelist_address
FEE_ADDRESS=0xyour_rwa_fee_address
APPROVE_MAX=false

# Default enum assumption:
# ENTRY fee timing = 0
# EXIT fee timing = 1
ENTRY_FEE_TIMING=0
EXIT_FEE_TIMING=1
